html{
    background-color: #505050;
    overflow: visible;
}

body{
    margin: auto;
    overflow: visible;
    width: 80%;
}

header{
    width: 100%;
    margin: 20px auto;
}

article{
    display: flex;
    overflow: visible;
    padding: 0px 5%;
}

#mag{
    float: right;
    width: 25%;
}

article>.center>img, header, .buttons
{
    border-radius: 10px;
    overflow: visible;
    box-shadow: black 10px 10px 10px 5px;
    background-color:#909090;
    position: relative;
}

article>*{
    margin: 1%;
}

header>#banner{
    width: 40%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
}

article>.center
{
    flex: 3;
    display: block;
    text-align: center;
    position: relative;
}

.center>img{
    display: flex;
    margin: auto;
    padding: 0.5vw;
    width: 50vw;
}

.icon{
    display: inline-block;
}

aside{
    text-align: center;
    flex: 0.5;
}

.buttons{
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
}

.icon>img{
    display: inline-block;
    width: 3vw;
}

.brick{
    background-image: url("resources/brick.jpg");
    width: 100%;
    height: 5vw;
}

.icons{
    height: 100%;
    padding-top: 5px;
    padding-right: 20px;
    float: right;
}

.icon.active>img{
    border: red 5px solid;
    border-radius: 5px;
}

.icons>a{
    position: absolute;
    right: 5px;
}

.icons>a:last-of-type{
    bottom: 5px;
}

.icons>a>img{
    width: 1.5vw;
    height: auto;
}

.panel{
    width: 50%;
    display: block;
    background-color:#88FE89;
    text-align: left;
    padding: 1vw 2.5vw 3.5vw 1vw;
    border-radius: 10px;
    z-index: 2;
    bottom: 0px;
    position: absolute;
    margin-left: -25%;
    margin-bottom: -5vw;
    font: 1.1vw Sans-Serif;
    box-shadow: black 10px 10px 10px 5px;
}

.big{
    font: 2em Georgia, serif;
}

.shadow{
    text-shadow: red 10px 5px 5px;
}

.itel{
    font-style: italic;
}

.panel>form{
    width: 100%;
    display: flex;
}

.panel>form>input[type="submit"]{
    flex: 1;
}

.panel>form>input[type="text"]{
    flex: 3;
    width: 11vw;
    display: block;
}